@model IEnumerable<BCWebApi.Models.User>

@{
    ViewData["Title"] = "List of users";
}
<br />
<div class="col-md-12" >
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Users</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" id="formulario-creacion">
            <div class="row">
                <div class="col-md-12">
                    <a asp-action="Create" class="btn btn-success" value="Add new product" >Add new user</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserTypeId)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserTypeId)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                                        <a onclick="deleteProduct(@item.UserId)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- ./box-body -->
    </div>
    <!-- /.box -->
</div>
<script>
    function deleteProduct(id) {
        $.ajax({
            type:"POST",
            url: "@Url.Action("Delete", "User")",
            data:{id: id},
            success:function(datos){
                alert("User deleted correctly");
                location.reload();
            }
        })
    }
</script>
